dashboard.json
[{"id":"9e8ab40.90dbb5","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"340b1ced.1fe9b4","type":"ui_template","z":"9e8ab40.90dbb5","group":"b2209e13.f1743","name":"","order":5,"width":0,"height":0,"format":"<link href=\"https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700\" rel=\"stylesheet\"> <!-- font da google fonts -->\n<style>\n    body {\n        background-image: url(\"https://99designs-blog.imgix.net/blog/wp-content/uploads/2019/02/Brand-you-video-e1550844043572.png?auto=format&q=60&fit=max&w=930\");  /* immagine di background - inserire nella cartella config/node-red/static/ */\n        background-color: #cccccc;\n        background-repeat: repeat;\n        font-family: 'Roboto', sans-serif !important;\n    }\n\n    .nr-dashboard{\n        background-color: blue;\n    }\n\n    .md-toolbar-tools{\n        background-image: url(\"https://99designs-blog.imgix.net/blog/wp-content/uploads/2019/02/Brand-you-video-e1550844043572.png?auto=format&q=60&fit=max&w=930\"); /* logo - inserire nella cartella config/node-red/static/ */\n        background-repeat: no-repeat;\n        margin-left: 60px;\n        margin-left: 0;\n        background-size: 200px 142px;\n        background-position: 50px;\n        box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* ombra header */\n        z-index:999;\n    }\n\n    .md-icon-button {  /*hamburger menu */\n        color: #22A6A6;\n    }\n\n    .md-toolbar-tools h1{  /*header-text*/\n        margin: 1em 0 0 8em;\n        text-align: center;\n        width: 250px;\n        color: rgb(250, 250, 250);\n        font-family: 'Roboto', sans-serif;\n        z-index:1;\n    }\n\n    .nr-dashboard-cardpanel>p {\n        margin-top: 15px;\n        margin-right: 10px;\n        margin-left: 10px;\n        margin-bottom: 5px;\n        border-bottom: 0.5px solid #C0BFBF;\n    }\n\n    .nr-dashboard-theme ui-card-panel { /*card-background*/\n        background-color: #F2F2F2;\n        border: 0;\n    }\n\n    body.nr-dashboard-theme md-content md-card { /*text-card-background*/\n       background-color: #F2F2F2;\n    }\n\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle { /*card-title*/\n        color: #22A6A6;\n        text-align: center;  /* allineamento centrato titolo widget */\n        font-size: 1.3em;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: #F2F2F2;\n        color: #6D8276;\n    }\n\n    element.style {\n      font-size: 0.7em;\n    }\n\n    ui-card-panel {\n        margin: 1em 0 0 0;\n        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* ombra widget */\n        font-family: 'Roboto', sans-serif;\n        border-radius: 5px;\n        background-color: #22A6A6;\n    }\n\n    ui-card-panel p {\n        color: #6D8276; /*widget text */\n    }\n\n    .nr-dashboard-cardcontainer {\n        margin: 0 0 0 10px;\n    }\n\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":180,"y":40,"wires":[[]]},{"id":"edd73240.6fe86","type":"ui_chart","z":"9e8ab40.90dbb5","name":"cantina1 graph","group":"b2209e13.f1743","order":4,"width":0,"height":0,"label":"Temperatura e umidità","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"NO DATA","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":720,"y":100,"wires":[[],[]]},{"id":"a1ca006a.c414f","type":"ui_text","z":"9e8ab40.90dbb5","group":"b2209e13.f1743","order":2,"width":0,"height":0,"name":"","label":"Temperatura attuale","format":"{{msg.payload}} &deg;","layout":"row-spread","x":600,"y":160,"wires":[]},{"id":"b8d3e8d9.c7ccd8","type":"ui_text","z":"9e8ab40.90dbb5","group":"b2209e13.f1743","order":3,"width":0,"height":0,"name":"","label":"Umidità","format":"{{msg.payload}} %","layout":"row-spread","x":560,"y":200,"wires":[]},{"id":"5ececfa2.d736b","type":"ui_toast","z":"9e8ab40.90dbb5","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALLARME!","name":"","x":730,"y":470,"wires":[]},{"id":"66ce2f02.a5c0f","type":"mqtt in","z":"9e8ab40.90dbb5","name":"","topic":"/cantina1/temperatura","qos":"2","datatype":"auto","broker":"c91a4775.d54f78","x":220,"y":100,"wires":[["a1ca006a.c414f","13a44cff.4fee03"]]},{"id":"54a2ec56.27af34","type":"mqtt in","z":"9e8ab40.90dbb5","name":"","topic":"/cantina1/umidita","qos":"2","datatype":"auto","broker":"c91a4775.d54f78","x":200,"y":180,"wires":[["b8d3e8d9.c7ccd8","9c51c278.77e8c"]]},{"id":"a17a8622.d97fe8","type":"mqtt in","z":"9e8ab40.90dbb5","name":"","topic":"/cantina1/porta","qos":"2","datatype":"auto","broker":"c91a4775.d54f78","x":200,"y":500,"wires":[["7fa49fb3.f1d5d"]]},{"id":"ce86d20c.d2d55","type":"mqtt in","z":"9e8ab40.90dbb5","name":"","topic":"/cantina2/temperatura","qos":"2","datatype":"auto","broker":"c91a4775.d54f78","x":220,"y":260,"wires":[["fa27bbb8.db70e8","4de20b51.323384"]]},{"id":"d11e89cc.1057e8","type":"mqtt in","z":"9e8ab40.90dbb5","name":"","topic":"/cantina2/umidita","qos":"2","datatype":"auto","broker":"c91a4775.d54f78","x":200,"y":340,"wires":[["9dfdac99.f428d","d06b0c59.85cc9"]]},{"id":"ee981fe2.11ff9","type":"mqtt in","z":"9e8ab40.90dbb5","name":"","topic":"/cantina2/porta","qos":"2","datatype":"auto","broker":"c91a4775.d54f78","x":200,"y":440,"wires":[["cd7df900.39bea8"]]},{"id":"8e6acfa1.775fa","type":"ui_chart","z":"9e8ab40.90dbb5","name":"cantina2 graph","group":"1360325c.973bce","order":4,"width":0,"height":0,"label":"Temperatura e umidità","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"NO DATA","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":720,"y":260,"wires":[[],[]]},{"id":"fa27bbb8.db70e8","type":"ui_text","z":"9e8ab40.90dbb5","group":"1360325c.973bce","order":2,"width":0,"height":0,"name":"","label":"Temperatura attuale","format":"{{msg.payload}} &deg;","layout":"row-spread","x":540,"y":320,"wires":[]},{"id":"9dfdac99.f428d","type":"ui_text","z":"9e8ab40.90dbb5","group":"1360325c.973bce","order":3,"width":0,"height":0,"name":"","label":"Umidità","format":"{{msg.payload}} %","layout":"row-spread","x":500,"y":360,"wires":[]},{"id":"43e9eaea.f6a204","type":"template","z":"9e8ab40.90dbb5","name":"Alarm 1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"La porta della Cantina 1 è rimasta aperta!","output":"str","x":540,"y":440,"wires":[["5ececfa2.d736b"]]},{"id":"297b501b.0fd6e","type":"template","z":"9e8ab40.90dbb5","name":"Alarm 2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"La porta della Cantina 2 è rimasta aperta!","output":"str","x":540,"y":500,"wires":[["5ececfa2.d736b"]]},{"id":"cd7df900.39bea8","type":"switch","z":"9e8ab40.90dbb5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":440,"wires":[["43e9eaea.f6a204"]]},{"id":"7fa49fb3.f1d5d","type":"switch","z":"9e8ab40.90dbb5","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":500,"wires":[["297b501b.0fd6e"]]},{"id":"13a44cff.4fee03","type":"change","z":"9e8ab40.90dbb5","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperatura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["edd73240.6fe86"]]},{"id":"9c51c278.77e8c","type":"change","z":"9e8ab40.90dbb5","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Umidità","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["edd73240.6fe86"]]},{"id":"4de20b51.323384","type":"change","z":"9e8ab40.90dbb5","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperatura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":240,"wires":[["8e6acfa1.775fa"]]},{"id":"d06b0c59.85cc9","type":"change","z":"9e8ab40.90dbb5","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Umidità","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":280,"wires":[["8e6acfa1.775fa"]]},{"id":"2b41761b.9416fa","type":"ui_numeric","z":"9e8ab40.90dbb5","name":"","label":"Temperatura desiderata","group":"b2209e13.f1743","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;","min":"8","max":"20","step":1,"x":230,"y":600,"wires":[["5d66da3f.bfd7a4"]]},{"id":"5d66da3f.bfd7a4","type":"mqtt out","z":"9e8ab40.90dbb5","name":"","topic":"/cantina1/setpoint","qos":"","retain":"","broker":"c91a4775.d54f78","x":510,"y":600,"wires":[]},{"id":"ec081813.06e948","type":"ui_numeric","z":"9e8ab40.90dbb5","name":"","label":"Temperatura desiderata","group":"1360325c.973bce","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;","min":"8","max":"20","step":1,"x":230,"y":660,"wires":[["8b790681.11c268"]]},{"id":"8b790681.11c268","type":"mqtt out","z":"9e8ab40.90dbb5","name":"","topic":"/cantina2/setpoint","qos":"","retain":"","broker":"c91a4775.d54f78","x":510,"y":660,"wires":[]},{"id":"b2209e13.f1743","type":"ui_group","z":"","name":"Cantina 1","tab":"145274ec.c5ca8b","disp":true,"width":"8","collapse":false},{"id":"c91a4775.d54f78","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1360325c.973bce","type":"ui_group","z":"","name":"Cantina 2","tab":"145274ec.c5ca8b","disp":true,"width":"8","collapse":false},{"id":"145274ec.c5ca8b","type":"ui_tab","z":"","name":".","icon":"dashboard"}]