TeamBlue/dashboard.json
[{"id":"bbd160a3.5b4ca","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"7fccf15a.e2cca","type":"ui_template","z":"bbd160a3.5b4ca","group":"949b2400.1211d","name":"","order":5,"width":0,"height":0,"format":"<link href=\"https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700\" rel=\"stylesheet\"> <!-- font da google fonts -->\n<style>\n    body {\n        background-image: url(\"http://localhost:1880/logo/logo1.png\");  /* immagine di background - inserire nella cartella config/node-red/static/ */\n        background-color: #cccccc;\n        background-repeat: repeat;\n        font-family: 'Roboto', sans-serif !important;\n    }\n\n    .nr-dashboard{\n        background-color: blue;\n    }\n\n    .md-toolbar-tools{\n        background-image: url(\"http://localhost:1880/logo/logo1.png\"); /* logo - inserire nella cartella config/node-red/static/ */\n        background-repeat: no-repeat;\n        margin-left: 60px;\n        margin-left: 0;\n        background-size: 200px 142px;\n        background-position: 50px;\n        box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* ombra header */\n        z-index:999;\n    }\n\n    .md-icon-button {  /*hamburger menu */\n        color: #22A6A6;\n    }\n\n    .md-toolbar-tools h1{  /*header-text*/\n        margin: 1em 0 0 8em;\n        text-align: center;\n        width: 250px;\n        color: rgb(250, 250, 250);\n        font-family: 'Roboto', sans-serif;\n        z-index:1;\n    }\n\n    .nr-dashboard-cardpanel>p {\n        margin-top: 15px;\n        margin-right: 10px;\n        margin-left: 10px;\n        margin-bottom: 5px;\n        border-bottom: 0.5px solid #C0BFBF;\n    }\n\n    .nr-dashboard-theme ui-card-panel { /*card-background*/\n        background-color: #F2F2F2;\n        border: 0;\n    }\n\n    body.nr-dashboard-theme md-content md-card { /*text-card-background*/\n       background-color: #F2F2F2;\n    }\n\n    .nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle { /*card-title*/\n        color: #22A6A6;\n        text-align: center;  /* allineamento centrato titolo widget */\n        font-size: 1.3em;\n    }\n\n    .nr-dashboard-theme .nr-dashboard-button .md-button {\n        background-color: #F2F2F2;\n        color: #6D8276;\n    }\n\n    element.style {\n      font-size: 0.7em;\n    }\n\n    ui-card-panel {\n        margin: 1em 0 0 0;\n        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* ombra widget */\n        font-family: 'Roboto', sans-serif;\n        border-radius: 5px;\n        background-color: #22A6A6;\n    }\n\n    ui-card-panel p {\n        color: #6D8276; /*widget text */\n    }\n\n    .nr-dashboard-cardcontainer {\n        margin: 0 0 0 10px;\n    }\n\n</style>\n","storeOutMessages":false,"fwdInMessages":false,"templateScope":"global","x":180,"y":40,"wires":[[]]},{"id":"3c765b7f.7eaee4","type":"ui_chart","z":"bbd160a3.5b4ca","name":"cantina1 graph","group":"949b2400.1211d","order":4,"width":0,"height":0,"label":"Temperatura e umidità","chartType":"line","legend":"true","xformat":"HH:mm","interpolate":"bezier","nodata":"NO DATA","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":2,"x":720,"y":100,"wires":[[],[]]},{"id":"eb94a350.70bca","type":"ui_text","z":"bbd160a3.5b4ca","group":"949b2400.1211d","order":2,"width":0,"height":0,"name":"","label":"Temperatura attuale","format":"{{msg.payload}} &deg;","layout":"row-spread","x":600,"y":160,"wires":[]},{"id":"bb5804d9.b9d668","type":"ui_text","z":"bbd160a3.5b4ca","group":"949b2400.1211d","order":3,"width":0,"height":0,"name":"","label":"Umidità","format":"{{msg.payload}} %","layout":"row-spread","x":560,"y":200,"wires":[]},{"id":"7e5c0af.4ab90f4","type":"ui_toast","z":"bbd160a3.5b4ca","position":"top right","displayTime":"3","highlight":"","outputs":0,"ok":"OK","cancel":"","topic":"ALLARME!","name":"","x":730,"y":470,"wires":[]},{"id":"89c1b06b.6e92d","type":"mqtt in","z":"bbd160a3.5b4ca","name":"","topic":"/cantina/temperatura","qos":"2","datatype":"auto","broker":"5be7eb07.658d34","x":210,"y":100,"wires":[["eb94a350.70bca","24a359d2.f312c6"]]},{"id":"7c4059e5.4c9bc8","type":"mqtt in","z":"bbd160a3.5b4ca","name":"","topic":"/cantina/umidita","qos":"2","datatype":"auto","broker":"549b5ef8.4d78f","x":200,"y":180,"wires":[["bb5804d9.b9d668","4e89db78.fb4704"]]},{"id":"d76e4846.0847d8","type":"mqtt in","z":"bbd160a3.5b4ca","name":"","topic":"/cantina1/porta","qos":"2","datatype":"auto","broker":"549b5ef8.4d78f","x":200,"y":500,"wires":[["d60e1381.b3a89"]]},{"id":"bfce69ac.93e788","type":"mqtt in","z":"bbd160a3.5b4ca","name":"","topic":"/cantina2/porta","qos":"2","datatype":"auto","broker":"549b5ef8.4d78f","x":200,"y":440,"wires":[["1ba6f7a7.a6c028"]]},{"id":"c5ab9444.99caf8","type":"template","z":"bbd160a3.5b4ca","name":"Alarm 1","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"La porta della Cantina 1 è rimasta aperta!","output":"str","x":540,"y":440,"wires":[["7e5c0af.4ab90f4"]]},{"id":"d6c3416.9b17dc","type":"template","z":"bbd160a3.5b4ca","name":"Alarm 2","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"La porta della Cantina 2 è rimasta aperta!","output":"str","x":540,"y":500,"wires":[["7e5c0af.4ab90f4"]]},{"id":"1ba6f7a7.a6c028","type":"switch","z":"bbd160a3.5b4ca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":440,"wires":[["c5ab9444.99caf8"]]},{"id":"d60e1381.b3a89","type":"switch","z":"bbd160a3.5b4ca","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"OPEN","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":370,"y":500,"wires":[["d6c3416.9b17dc"]]},{"id":"24a359d2.f312c6","type":"change","z":"bbd160a3.5b4ca","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Temperatura","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":80,"wires":[["3c765b7f.7eaee4"]]},{"id":"4e89db78.fb4704","type":"change","z":"bbd160a3.5b4ca","name":"set topic","rules":[{"t":"set","p":"topic","pt":"msg","to":"Umidità","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":120,"wires":[["3c765b7f.7eaee4"]]},{"id":"57348ea3.7c6aa","type":"ui_numeric","z":"bbd160a3.5b4ca","name":"","label":"Temperatura desiderata","group":"949b2400.1211d","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;","min":"8","max":"20","step":1,"x":230,"y":600,"wires":[["dd39db46.753ef8"]]},{"id":"dd39db46.753ef8","type":"mqtt out","z":"bbd160a3.5b4ca","name":"","topic":"/cantina/settemp","qos":"","retain":"","broker":"549b5ef8.4d78f","x":500,"y":600,"wires":[]},{"id":"6e5ad1a.ca95e3","type":"ui_numeric","z":"bbd160a3.5b4ca","name":"","label":"Temperatura desiderata","group":"2e1aaddd.0746d2","order":1,"width":0,"height":0,"passthru":true,"topic":"","format":"{{value}} &deg;","min":"8","max":"20","step":1,"x":230,"y":660,"wires":[["6ac83bb.da838c4"]]},{"id":"6ac83bb.da838c4","type":"mqtt out","z":"bbd160a3.5b4ca","name":"","topic":"/cantina/settollerance","qos":"","retain":"","broker":"549b5ef8.4d78f","x":520,"y":660,"wires":[]},{"id":"1010488.ca339b8","type":"mosca in","z":"bbd160a3.5b4ca","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":400,"y":40,"wires":[[]]},{"id":"ec1e5c36.6534a","type":"sqlite","z":"bbd160a3.5b4ca","mydb":"8f51840d.93d6c8","sqlquery":"msg.topic","sql":"","name":"cantinetta","x":960,"y":40,"wires":[[]]},{"id":"949b2400.1211d","type":"ui_group","z":"","name":"Cantina 1","tab":"fce7790c.d08758","disp":true,"width":"8","collapse":false},{"id":"5be7eb07.658d34","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"549b5ef8.4d78f","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"2e1aaddd.0746d2","type":"ui_group","z":"","name":"Cantina 2","tab":"fce7790c.d08758","disp":true,"width":"8","collapse":false},{"id":"8f51840d.93d6c8","type":"sqlitedb","z":"","db":"~/Arduino","mode":"RWC"},{"id":"fce7790c.d08758","type":"ui_tab","z":"","name":".","icon":"dashboard"}]