Team Red/Dashboard.json
[{"id":"4de9b81b.699e28","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e957f7ff.d1975","type":"mqtt in","z":"4de9b81b.699e28","name":"","topic":"/cantina/temperatura","qos":"2","datatype":"auto","broker":"d910bb85.244188","x":200,"y":140,"wires":[["cc273498.7ac0b8","de285c32.aa0078"]]},{"id":"77ac9a7.753c264","type":"mysql","z":"4de9b81b.699e28","mydb":"8778c031.24083","name":"","x":600,"y":260,"wires":[["c06aadfe.a1aad8"]]},{"id":"cc273498.7ac0b8","type":"ui_gauge","z":"4de9b81b.699e28","name":"","group":"e1fa6d2b.36ea38","order":0,"width":0,"height":0,"gtype":"gage","title":"","label":"°C","format":"{{value}}","min":0,"max":"30","colors":["#0d2cff","#00a7e6","#ed1414"],"seg1":"","seg2":"","x":570,"y":140,"wires":[]},{"id":"de285c32.aa0078","type":"ui_chart","z":"4de9b81b.699e28","name":"","group":"e1fa6d2b.36ea38","order":1,"width":0,"height":0,"label":"","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"-10","ymax":"30","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":570,"y":80,"wires":[[]]},{"id":"c06aadfe.a1aad8","type":"ui_text","z":"4de9b81b.699e28","group":"80a4e987.a56a48","order":0,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":790,"y":260,"wires":[]},{"id":"3e692a95.847316","type":"mqtt out","z":"4de9b81b.699e28","name":"","topic":"/cantina/settemp","qos":"","retain":"","broker":"d910bb85.244188","x":430,"y":320,"wires":[]},{"id":"8aff6abe.57a9a8","type":"ui_text_input","z":"4de9b81b.699e28","name":"","label":"Tolleranza +-","tooltip":"","group":"76635f33.04ca8","order":0,"width":0,"height":0,"passthru":true,"mode":"number","delay":300,"topic":"","x":170,"y":380,"wires":[["419d9da1.eac484"]]},{"id":"419d9da1.eac484","type":"mqtt out","z":"4de9b81b.699e28","name":"","topic":"/cantina/setTollerance","qos":"","retain":"","broker":"d910bb85.244188","x":420,"y":380,"wires":[]},{"id":"8201dc52.01d0c","type":"ui_numeric","z":"4de9b81b.699e28","name":"","label":"Temperatura desiderata","tooltip":"","group":"76635f33.04ca8","order":1,"width":0,"height":0,"wrap":false,"passthru":true,"topic":"","format":"{{value}} &deg;","min":"-10","max":"30","step":1,"x":210,"y":320,"wires":[["3e692a95.847316"]]},{"id":"13c64d7.f0296b3","type":"mqtt in","z":"4de9b81b.699e28","name":"","topic":"/cantina/Vino","qos":"2","datatype":"auto","broker":"d910bb85.244188","x":170,"y":260,"wires":[["f72bd621.e1b84"]]},{"id":"f72bd621.e1b84","type":"function","z":"4de9b81b.699e28","name":"","func":"if (msg.payload == 'Vino1')\n    msg.topic = 'select * from vino v join `vino-cantina` as vc on v.Id = vc.idVino join cantina c on c.Id = vc.idCantina where c.luogo = \"Torino\" Limit 1;'\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":260,"wires":[["77ac9a7.753c264"]]},{"id":"e0551b24.088f58","type":"mosca in","z":"4de9b81b.699e28","mqtt_port":1883,"mqtt_ws_port":8080,"name":"","username":"","password":"","dburl":"","x":140,"y":40,"wires":[[]]},{"id":"8d87e837.aced58","type":"mysql","z":"4de9b81b.699e28","mydb":"8778c031.24083","name":"","x":480,"y":460,"wires":[["444de57e.dfdbac","40a85a23.2dcaec"]]},{"id":"d65e91cd.d2a938","type":"function","z":"4de9b81b.699e28","name":"","func":"\nmsg.topic = 'select * from vino as v join `vino-cantina` as vc on v.Id = vc.idVino join cantina c on c.Id = vc.idCantina where c.luogo = \"Torino\";'\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":460,"wires":[["8d87e837.aced58"]]},{"id":"a367d97c.a0451","type":"inject","z":"4de9b81b.699e28","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":170,"y":460,"wires":[["d65e91cd.d2a938"]]},{"id":"444de57e.dfdbac","type":"function","z":"4de9b81b.699e28","name":"","func":"let s = \"<br/><br/>\";\n\nmsg.payload.forEach(element => {\n    s += \"Nome: \" + element.Nome + \"<br/>\";\n    s += \"Gradazione: \" + element.Gradazione + \"<br/>\";\n    s += \"Vitigno/Uva: \" + element.Vitigno_Uva + \"<br/>\";\n    s += \"Fermo/Mosso: \" + element.Fermo_Mosso + \"<br/>\";\n    s += \"Annata: \" + element.Annata + \"<br/>\";\n    s += \"Temperatura Ideale: \" + element.Temperatura_Ideale + \"<br/>\";\n    s += \"Profumo: \" + element.Profumo + \"<br/>\";\n    s += \"Produttore: \" + element.Produttore + \"<br/>\";\n    s += \"<br/>\"\n})\n\nmsg.payload = s;\nreturn msg","outputs":1,"noerr":0,"x":670,"y":460,"wires":[["a4caefbd.e23b48"]]},{"id":"a4caefbd.e23b48","type":"ui_text","z":"4de9b81b.699e28","group":"80a4e987.a56a48","order":1,"width":"6","height":"18","name":"","label":"","format":"{{msg.payload}}","layout":"col-center","x":820,"y":460,"wires":[]},{"id":"438af9f.d743d08","type":"mqtt in","z":"4de9b81b.699e28","name":"","topic":"/cantina/umidita","qos":"2","datatype":"auto","broker":"d910bb85.244188","x":180,"y":200,"wires":[["91ee5daf.1d1b38"]]},{"id":"91ee5daf.1d1b38","type":"ui_text","z":"4de9b81b.699e28","group":"e1fa6d2b.36ea38","order":3,"width":0,"height":0,"name":"","label":"Umidità","format":"{{msg.payload}} %","layout":"row-spread","x":580,"y":200,"wires":[]},{"id":"40a85a23.2dcaec","type":"debug","z":"4de9b81b.699e28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":620,"y":400,"wires":[]},{"id":"d910bb85.244188","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.80","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"8778c031.24083","type":"MySQLdatabase","z":"","host":"127.0.0.1","port":"3306","db":"dbcantina","tz":""},{"id":"e1fa6d2b.36ea38","type":"ui_group","z":"","name":"Temperature","tab":"e60d04f8.19234","disp":true,"width":"6","collapse":false},{"id":"80a4e987.a56a48","type":"ui_group","z":"","name":"Vini in quasta cantina","tab":"e60d04f8.19234","disp":true,"width":"6","collapse":false},{"id":"76635f33.04ca8","type":"ui_group","z":"","name":"Settings","tab":"e60d04f8.19234","disp":true,"width":"6","collapse":false},{"id":"e60d04f8.19234","type":"ui_tab","z":"","name":"CantinaRed","icon":"dashboard","disabled":false,"hidden":false}]